
.navbar {
  background: teal;
  padding: 1em;
  display: flex;
}

.navbar div:not(:first-child)::before {
  content: '|';
  margin-right: 1em;
}

.navbar div[role='button'] {
  margin-right: 1em;
  cursor: pointer;
}


form.manage-deck {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: auto;
}

form.manage-deck label {
  margin: 1em;
}
form.manage-deck button {
  width:fit-content
}
form.manage-deck select,input {
  margin-left: 1em;
}


.error {
  color: red;
}

.success {
  color: greenyellow;
}